/* :root {
	--grey400: #858585;
	--white: #ffffff;
	--grey100: #131313;
	--grey500: #cacaca;
	--greyDark: #5F5F5F;
} */

@font-face {
	font-family: "ReplicaMonoLLTrialWeb-Regular";
	src: url("fonts/ReplicaMonoLLTrialWeb-Regular.woff2") format("woff2");
  }

:root {
	--color-bg: #000000;
	--color-fg-primary: #ffffff;
	--color-fg-secondary: #4d4d4d;
}

@media (prefers-color-scheme: light) {
	:root {
	  --color-bg: #ffffff;
	  --color-fg-primary: #000000;
	  --color-fg-secondary: #b8b8b8;
	}
  }



* {
    margin: 0;
    padding: 0;
}

body, html {
	background-color: var(--color-bg);
}

body {
	font-family: "ReplicaMonoLLTrialWeb-Regular", sans-serif;
	font-size: 16px;
	color: var(--color-fg-primary);
	padding-left: 4em;
	padding-top: 4em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: var(--color-fg-primary);
}

a:hover {
	text-decoration: underline;
}

.logo {
	fill: var(--color-fg-primary);
	height: 22px;
	width: 43.71px;
}

.wrapper {
	width: 50vw;
	margin-bottom: 4em;
}

.logo {
	height: 18px;
    width: 36px;
	margin-bottom: 3em;
}

.section-intro {
	margin-bottom: 2.5em;
}

.section-work, .section-side-projects, .section-writing, .section-patents {
	margin-bottom: 1.5em;
}

.section-header {
	color: var(--color-fg-secondary);
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: .6em;
}

.section-intro h1, .section-intro p {
	font-size: 1.25em;
    line-height: 155%;
}

.section-intro h1 {
	margin-bottom: 1em;
}

.section li {
	color: var(--color-fg-primary);
	font-size: 16px;
	list-style: none;
	margin-bottom: .4em;
}