:root {
  --color-bg: #0a0a0a;
  --color-fg-primary: #ffffff;
  --color-fg-secondary: #4d4d4d;
  --color-text-primary: #ffffff;
  --color-text-secondary: #4d4d4d;
  --body-font: "MonumentGrotesk", sans-serif;
  --headline-font: "ReplicaPro-Bold", sans-serif;
  --numeric-font: "ReplicaMonoLLWeb-Regular", sans-serif;
  --main-padding: 6%;

  --clr-1: #1d1d1d;
  --clr-2: #2b2b2b;
  --clr-3: #444444;
}

/* @media (prefers-color-scheme: light) {
	:root {
	  --color-bg: #ffffff;
	  --color-fg-primary: #000000;
	  --color-fg-secondary: #b8b8b8;
	}
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16px;
  color: var(--color-fg-primary);
  font-family: var(--body-font);
  -webkit-font-smoothing: anti;
}

// Need to add a reset class for all headers
h2 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
  /* Removes background */
  color: inherit;
  /* Inherits the color from the parent element */
  border: none;
  /* Removes border */
  font: inherit;
  /* Inherits font properties from the parent */
  cursor: pointer;
}

/* @media (max-width: 1476px) {
 	.wrapper {
 		width: 50vw;
 	}
 }

 @media (max-width: 1100px) {
 	.wrapper {
 		width: 65vw;
 	}
 } */

/* @media (max-width: 820px) {
 	body {
 		font-size: 20px;
 	}

 	.wrapper {
 		width: 100vw;
 		padding: 2em;
 	}
 } */

