@font-face {
    font-family: "ReplicaMonoLLWeb-Regular";
    src: url("fonts/ReplicaMonoLLWeb-Regular.woff") format("woff");
}

@font-face {
    font-family: "ReplicaMonoLLWeb-Regular";
    src: url("fonts/ReplicaMonoLLWeb-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "ReplicaPro-Bold";
    src: url("fonts/ReplicaPro-Bold.woff") format("woff");
}

@font-face {
    font-family: "ReplicaPro-Bold";
    src: url("fonts/ReplicaPro-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "MonumentGrotesk";
    src: url("fonts/MonumentGrotesk-Regular.woff") format("woff");
}

@font-face {
    font-family: "MonumentGrotesk";
    src: url("fonts/MonumentGrotesk-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "MonumentGrotesk-Italic";
    src: url("fonts/MonumentGrotesk-Italic.woff") format("woff");
}

@font-face {
    font-family: "MonumentGrotesk-Italic";
    src: url("fonts/MonumentGrotesk-Italic.woff2") format("woff2");
}