.section-intro {
    margin-bottom: 2.5em;
}

.section-work,
.section-side-projects,
.section-writing,
.section-patents,
.section-elsewhere {
    margin-bottom: 3em;
}

.section-header {
    font-family: 'ReplicaMonoLLWeb-Regular';
    color: var(--color-fg-secondary);
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: .6em;
}

.section-intro-header {
    font-size: 2.25em;
    font-family: var(--headline-font);
    margin-bottom: 32px;
    color: var(--color-text-secondary);
}

.section-intro-header-callout {
    color: var(--color-text-primary);
}

.section-intro p {
    font-size: 1.125em;
    margin-bottom: 24px;
    color: var(--color-text-secondary);
    line-height: 150%;
}



