/* start with this next to get pill right https://www.youtube.com/watch?v=-VOUK-xFAyk */
/* The only way to do this is going to be with psuedo elements */

/* Like a variable, but can hold more information, supported in chrome, not Safari, I think */
$randomDegree: random(360);

// $color1: #1d1d1d;
// $color2: #2b2b2b;
// $color3: #ffffff;

$color1: #292929;
$color2: #454545;
$color3: #9A9A9A;


@property --gradient-angle {
    
    syntax: "<angle>";
    initial-value: -15deg;
    inherits: false;
}

.work-pill {
    color: var(--color-text-primary);
    // cursor: url('images/Work\ Cursor.png'), auto;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    margin: 0 8px 0 5px;
    display: inline-block;
}

.work-pill::before,
.work-pill::after {
    content: "";
    position: absolute;
    height: 24px;
    border-radius: inherit;
    background: conic-gradient(from var(--gradient-angle),
            $color1,
            $color2,
            $color3,
            $color2,
            $color1);
    inset: 11px -5px 0 -1px;
    opacity: .4;
    transition: opacity .5s ease;
    animation: rotation 15s linear infinite;

    @media (max-width: 820px) {
        
        inset: 13px -5px 0 -1px;
        height: 30px;
        font-size: 19px;

    }
}

.work-pill:hover::after {
 opacity: .8;   
 
}

.work-pill:hover::before {
    opacity: .8;   
    
   }

.inset-span::after {
    content: "";
    background: #1515156b;
    position: absolute;
    height: 22px;
    top: 12px;
    left: 0px;
    right: -4px;
    border-radius: 7px;
    z-index: 1;
    backdrop-filter: blur(10px);

    @media (max-width: 820px) {
        
        top: 14px;
        height: 28px;

    }

    
}

@keyframes rotation {
    0% {
        --gradient-angle: -15deg;
    }

    100% {
        --gradient-angle: 345deg;
    }
}

.work-pill::before {
    filter: blur(8px);
    /* opacity: 0.9; */
}

.work-pill::after {
    box-shadow: 0px 5px 6px #00000073;

}


.work-pill-text {
    position: relative;
    z-index: 2;
    margin-right: 1px;
    /* This is causing the line height distortion */
    font-size: 15px;
    padding-left: 6px;

    @media (max-width: 820px) {
        
        font-size: 19px;

    }

    
}

.work-pill-icon {
    position: relative;
    z-index: 2;
    transform: translateY(0.5px);
    margin-right: 1px;
}